<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.seecoder.courselearning.mapperservice.exam.ExamMapper">
    <resultMap id="BaseResultMap" type="cn.seecoder.courselearning.po.exam.Exam">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="starting_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="ending_time" jdbcType="TIMESTAMP" property="endTime" />
        <result column="question_id_list" jdbcType="VARCHAR" property="questionIdList" />
        <result column="course_id" jdbcType="INTEGER" property="courseId" />
        <result column="teacher_id" jdbcType="INTEGER" property="teacherId" />
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from exam
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="cn.seecoder.courselearning.po.exam.Exam" useGeneratedKeys="true" keyProperty="id">
        insert into exam (id,starting_time, ending_time, question_id_list, course_id, teacher_id)
        values (#{id,jdbcType=INTEGER}, #{starting_time,jdbcType=TIMESTAMP}, #{ending_time,jdbcType=TIMESTAMP}, #{question_id_list,jdbcType=VARCHAR}, #{course_id,jdbcType=INTEGER}, #{teacher_id,jdbcType=INTEGER})
    </insert>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select id,starting_time, ending_time, question_id_list, course_id, teacher_id
        from exam
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id,starting_time, ending_time, question_id_list, course_id, teacher_id
        from exam
    </select>



    <select id="selectByCourseId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select id,starting_time, ending_time, question_id_list, course_id, teacher_id
        from exam
        where course_id = #{courseId,jdbcType=INTEGER}
    </select>

    <select id="selectByTeacherId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select id,starting_time, ending_time, question_id_list, course_id, teacher_id
        from exam
        where teacher_id = #{teacherId,jdbcType=INTEGER}
    </select>
</mapper>